@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>@*此处用@ViewBag.Title来设置则页面的Title会随子页面设置的 ViewBag.Title = "这是我的登录"显示*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Scripts/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="height: 90px; width: 100%; border: 1px #ff0000 solid">
        <h3>欢迎来到爱这爱那网，这里有你所爱！</h3>
        <h3>这是页头</h3>
    </div>
    @RenderBody();
    <div style="height: 250px; width: 100%; border: 1px #ff0000 solid">
        <h3>这是页尾</h3>
    </div>
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用 -->
  
</body>
</html>
