<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<!--扩展 配置文件本地目录：C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\web.config-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net debug="true">
    <logger name="">
      <appender-ref ref="logfile"/>
    </logger>
    <logger name="error">
      <appender-ref ref="erroremail"/>
    </logger>
    <appender name="logfile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/zs.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>
    <appender name="erroremail" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic"/>
      <to value="sai.zhang@boldseas.com,1195073382@qq.com"/>
      <from value="lovexia_520@126.com"/>
      <username value="lovexia_520@126.com"/>
      <password value="qrkrekidifywbdcs"/>
      <smtpHost value="smtp.126.com"/>
      <bufferSize value="2054"/>
      <lossy value="true"/>
      <subject value="zsmvc4_1"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="info"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--如果只需要看看Sql设置INFO就够了，如果你要调试可以设置为DEBUG或ALL-->
      <priority value="ALL"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings configSource="Config\ConnectionStrings.config"/>
  <appSettings configSource="Config\AppSeetings.config"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime/>
    <!--compilation是否开启debug模式，这是关于ASP.NET的不是vs的debug模式，如果网站发布后此项设置为true则会有以下问题：-->
    <!--1) 由于编译优化被取消，编译ASP.NET 页需要更长的时间
    2) 由于需要额外的debug，代码执行比较慢
    3) 在系统运行时runtime 占用更多的内存，需要为debug创建冗余代码。
    4) 脚本Scripts和图片没有被缓存cache，所以下载很慢。-->
    <compilation debug="true" targetFramework="4.5"/>
    <!--验证方式，使用FormsAuthentication.RedirectToLoginPage()的时候会重定向到~/AStart/Login页面，注意此句后面可以return view(),但是不能Redirect到包含此句的方法中。http://www.cnblogs.com/June101/articles/3794312.html-->
    <!--Mode 　　　　　　 说明
　　Windows 　　　　 使用Windows身份验证，适用于域用户或者局域网用户。
　　Forms 　　　　　  使用表单验证，依靠网站开发人员进行身份验证。
　　Passport 　　　　 使用微软提供的身份验证服务进行身份验证。
　　Node 　　　　　　 不进行任何身份验证-->
    <authentication mode="Forms">
      <forms loginUrl="~/AStart/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <!--此页面默认的为命名空间配置，在此列表中的引用页面后默认引用-->
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--错误配置页面 defaultRedirect没有指定状态码的页面(如果Shared文件夹下有Error.cshtml则需把它删除)，如果有error过滤器则过滤器也需关闭。,mode=  "On"启用，OFF不启用，RemoteOnly本机调用显示错误，外部调用显示错误页面-->
    <customErrors mode="Off" defaultRedirect="~/Htmls/defaultError.html">
      <error statusCode="404" redirect="~/Htmls/404Error.html"/>
    </customErrors>
    <!--当IIS的应用程序池>网站>高级设置>最大进程数设置为大于1的情况下，Session会存在不同的进程内，则会造成取不到session的情况，如下解决-->
    <!--第一种：loopback可换成其他机器的Ip地址-->
    <!--第二种：在IIs站点中的会话状态>会话模式设置>选择状态服务器选项-->
    <!--timeout：session的保存事件时间，单位分-->
    <!--<sessionState
    mode="StateServer"
    stateConnectionString="tcpip=loopback:42424"
    cookieless="false"
    timeout="1"/>-->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="10">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>