<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <!--开启后台自动验证-->
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--开启第三方引用RouteBug-->
  <add key="RouteDebugger:Enabled" value="false"/>

  <add key="DomainName" value="http://zs.com.cn/"/>
  <add key="MasterRedisIP" value="124.251.61.152:4567"/>
  <add key="SlaveRedisIP" value="124.251.61.151:3456"/>
  <add key="MasterPWD" value="gi8nA7xyqeuF7x"/>
  <add key="SlavePWD" value="gi8nA7xyqeuF7x"/>
  <!--是否开启数据库依赖缓存-->
  <add key="EnableCaching" value="true"/>
  <!-- 用户票证过期时间（天）-->
  <add key="LoginStateExpires" value="7"/>
</appSettings>
