<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!--测试--><!--
    <add name="ZSEntities" connectionString="metadata=res://*/ZSMODEl.csdl|res://*/ZSMODEl.ssdl|res://*/ZSMODEl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ZS;persist security info=True;user id=sa;password=zhangsai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    --><!--sql依赖缓存使用--><!--
    <add name="config" connectionString="server=127.0.0.1;uid=sa;pwd= zhangsai;database=ZS;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>-->

    <!--正式-->
    <add name="ZSEntities" connectionString="metadata=res://*/ZSMODEl.csdl|res://*/ZSMODEl.ssdl|res://*/ZSMODEl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.234.1;initial catalog=ZS;persist security info=True;user id=sa;password=zhangsai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--sql依赖缓存使用-->
    <add name="config" connectionString="server=172.19.234.1;uid=sa;pwd= zhangsai;database=ZS;min pool size=20;max pool size=1000;packet size=3072;Connect Timeout=90;"/>
</connectionStrings>