@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Del</title>
</head>
<body>
    <div>
       删除 失败
    </div>
</body>
</html>
