@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuoLvQi</title>
</head>
<body>
    <div>
        过滤器本身view内容~~~~~~
    </div>
</body>
</html>
