@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QiTaYe</title>
</head>
<body>
    <div>
        我是其他也
    </div>
</body>
</html>
