@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeXing</title>
</head>
<body>
    <div>
       没有加特性
    </div>
</body>
</html>
