
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
    <script type="text/javascript">
        alert(1);
    </script>
</head>
    
<body>
    <div>
        调用
        @ViewData["zhi"]
    </div>
</body>
</html>
